//-------- From Let's Program
//  "@angular/material/prebuilt-themes/azure-blue.css",
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define a dark theme
$dark-theme: mat.define-theme(
   (
      color: (
         theme-type: dark,
         primary: mat.$violet-palette,
      ),
   )
);

// Define a light theme
$light-theme: mat.define-theme(
   (
      color: (
         theme-type: light,
         primary: mat.$violet-palette,
      ),
   )
);

/* You can add global styles to this file, and also import other style files */
@import "assets/styles/tailwind.scss";

html,
body {
   height: 100%;
}
body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

// @include mat.all-component-themes($dark-theme);
html {
   // Apply the dark theme by default
   @include mat.core-theme($dark-theme);
   @include mat.button-theme($dark-theme);

   // Apply the light theme only when the user prefers light themes.
   @media (prefers-color-scheme: light) {
      @include mat.core-color($light-theme);
      @include mat.button-color($light-theme);
   }
}
